body {
  background: #fafafa;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 36px;
}

.info {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-top: 15px;
}

.buttons {
  margin: 50px auto 20px;
  width: 460px;
}
button {
  width: 150px;
  height: 150px;
  cursor: pointer;
  font-size: 24px;
}

.score {
  text-align: center;
  font-size: 24px;
  line-height: 48px;
}

.computer-choice {
  font-size: 18px;
  color: #444;
}

.final-result {
  color: red;
  font-size: 28px;
  font-weight: bold;
}
