body{
    all: unset;
    margin: 20px;
}

/* Attention à l'ordre de vos déclarations de style */
.rectangle {
    display: none;
    width: 400px;
    height: 300px;
    background: royalblue;
    border-radius: 15px;
    transition: ease-in-out 1s;
}

.important {
    background: firebrick;
}
.good {
    background: limegreen;
}

