*
{
    box-sizing: border-box;
}


body
{
    /* structure */
    margin: 0 auto;
    padding: 1em;
    width: 80%;

    /* presentation */
    background-color: #ECF0F1;
    font-family: 'Open Sans', sans-serif;
}
